<!doctype html>
<html lang="en">
<head>
  <meta content="webkit" name="renderer" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta charset="UTF-8">
  <title>{{ projectName }}</title>
  <meta name="Keywords" content="{{ projectName }}">
  <meta name="description" content="{{ description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta content="telephone=no, address=no" name="format-detection">
  <!-- CSS 开始 -->
  <link rel="stylesheet" href="../../css/normalize.min.css">
  <link rel="stylesheet" href="../../css/style.min.css">
</head>
<body>
<!--[if lte IE 9]>
  <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
<![endif]-->

  <div class="wrap">
    <h1>Hello World</h1>
  </div>

  <script src="//cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
  <script src="../../js/main.min.js"></script>
</body>
</html>