@charset "UTF-8";

@import 'normalize.css';

/* 定义变量 */
:root {
  --font: 1.2rem;
  --red: #d33;
}

/* Autoprefixer */
.flex {
  display: flex;
  font-size: var(--font);
}

/* 嵌套 */
.message {
  font-weight: normal;

  & .header {
    font-weight: bold;
  }

  @nest .body & {
    color: black;
  }
}

/* color: drak(var(--red)); */
a {
  &:hover {
    color: color(var(--red) a(54%));
  }
}

/* 自定义选择器 */
@custom-selector :--heading h1, h2, h3, h4, h5, h6;

:--heading {
  font-weight: bold;
}

/* 故意写的错误 */
.col {
  color: #ddd;
  background-color: #fff;
}

.index p {
  font-size: 2rem;
  background: yellow;
  background: url('../img/big.jpg');
}

.about p {
  font-size: 3rem;
  background: blue;
  background: url('../img/small.png');
}
