@charset "UTF-8";

/* 定义变量 */
:root {
  --font: 1.2rem;
  --red: #fff;
}

/* Autoprefixer */
.flex {
  display: flex;
  font-size: var(--font);
}

/* 嵌套 */
.message {
  font-weight: normal;

  & .header {
    font-weight: bold;
  }

  @nest .body & {
    color: var(--red);
  }
}

/* color: drak(var(--red)); */
a {
  &:hover {
    color: color(var(--red) a(54%));
  }
}

/* 自定义选择器 */
@custom-selector :--heading h1, h2, h3, h4, h5, h6;

:--heading {
  font-weight: bold;
}

body {
  background: yellow;
}
