header
  section
    hgroup
      //- h1 滨清科技
      a(href="#", title="bingblue") 
        img(src= app.root + "/img/logo_single.png" alt="bingblue logo")
    nav
      ul
        //- li 
        //-   a(href="#", title="菜单").btn.btn-info
        //-     i(aria-hidden="true").fa.fa-user  菜单
        li
          a(href="#", title="登录").btn.btn-success
            i(aria-hidden="true").fa.fa-user-o  登录
