extends layout

block content
  include ./header.pug
  main
    article
      figure
        figcaption 标题
        p 内容
      figure
        figcaption 标题
        p 内容
    aside
      section

  include ./footer.pug
